:root {
    --blue-button: rgba(78,83,185,255);
    --white-font: rgb(235,235,247);
    --flou-bg: rgba(42,43,47,255);
    --black-bg: rgba(15,15,15,255);
    --grey-bg: rgba(22,23,25,255);
    --grey-font: rgb(175, 175, 175);
}

html,
body {
    font-family: Montserrat, sans-serif;
    line-height: 1.6;
    font-size: 62.5%;
    color: var(--white-font);
}

body {
    background-color: var(--grey-bg);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.font {
    color: var(--white-font);
    font-size: 1.4rem;
}